@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #a78bfa;
    --dark-gray: #64748b;
    --zanic: #f4f4f5;
    --zanic2: #e4e4e7;

}

hr {
    margin: 2rem 0rem;
}

body {
    font-family: 'Montserrat',
        sans-serif;
    margin: 0px;

}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* Links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.list-non-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 1rem;
}

/* navigation */
.nav {
    background-color: var(--primary-color);
    color: var(--dark-gray);
    padding: 1rem 1rem;
    border-bottom-left-radius: 1rem;

}

.nav .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.nav-pill {
    text-align: right;
}

.nav .link {
    color: white;

}

.link-active {
    font-weight: bold;
}

/* header */
.header {
    padding: 1rem;
}

.header .hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.header .heading {
    padding-top: 1rem;
    text-align: center;
    color: var(--dark-gray);
}

.heading .header-inside {
    color: var(--primary-color);
}

.section {
    padding: 2rem;
}

.section h3 {
    text-align: center;

}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

/** projects **/
.showcase-list {
    padding: 2rem;
}

/** blogs **/
.showcase-blog {
    padding-bottom: 6rem;
}